* {
    box-sizing: border-box;
}

div > h1 {

    color: blue;

}

.navigation-bar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #F55A5A;
}

.navigation-bar > img {
    height: 14px;
    width: 14px;
}

.navigation-bar > h3 {

    color: whitesmoke;
}
