* {
    box-sizing: border-box;
}

.navigation-bar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #F55A5A;
}

.navigation-bar > img {
    height: 2em;
    width: 2em;
}

.navigation-bar > h3 {
    font-family: Inter;
    font-weight: 500;
    color: whitesmoke;
}

.travel-card {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.travel-card > img {
    height: 168px;
    width: 125px;
    border-radius: 9px;
}

.travel-card-content {
    padding: 15px;
}

.location-details > span {
    padding-left: 5px;
}

.google-maps-link > a {
    color: #918E9B;
    text-decoration: none;
    text-decoration: underline;
    
}

.location-details > img {
    height: 0.75em;
    width: 0.75em;
}